<!-- <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content"> -->
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" (click)="modalRef?.hide()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card">
              <!-- <form (ngSubmit)="submit()" >
              <div class="form-group">
                  <label for="">Edit Name</label>
                  <input type="text" name="name" [(ngModel)]="customerchild.name" class="form-control" >
              </div>

              <div class="form-group">
                <label for="">Edit Email</label>
                <input type="text" name="email" [(ngModel)]="customerchild.email" class="form-control" >
            </div>

            <div class="form-group">
                <label for="">Edit DOB</label>
                <input type="date" name="name" [(ngModel)]="customerchild.dob" class="form-control" >
            </div>

              </form> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      <!-- </div>
    </div>
  </div> -->